<section class="center">
  <section class="profile button-green:active">
    <img class="altura-img ancho-img border-radius-10" src="https://static.vecteezy.com/system/resources/previews/004/274/236/non_2x/person-icon-user-interface-icon-silhouette-of-man-simple-symbol-a-glyph-symbol-in-your-web-site-design-logo-app-ui-webinar-video-chat-vector.jpg" alt="foto">
    <h2 class="profile-card_title">Julián Rodriguez</h2>
    <p class="profile-card_description">30 años</p>
    <p class="profile-card_description">Estreamer</p>
   <section class="center-vertical border-radius-10">
      <button class="button button-green border-radius-10">Seleccionar</button>
      <button class="button azul texto-blanco border-radius-10" href="/app/jul/jul.component.html">Detalle</button>
    </section>
  </section>
  <section class="profile">
    <img class="altura-img ancho-img border-radius-10" src="https://static.vecteezy.com/system/resources/previews/004/274/236/non_2x/person-icon-user-interface-icon-silhouette-of-man-simple-symbol-a-glyph-symbol-in-your-web-site-design-logo-app-ui-webinar-video-chat-vector.jpg" alt="foto">
    <h2 class="profile-card_title">Daniel Martinez</h2>
    <p class="profile-card_description">25 años</p>
    <p class="profile-card_description">Empresario</p>
   <section class="center-vertical border-radius-10">
      <button class="button button-green border-radius-10">Seleccionar</button>
      <button class="button azul texto-blanco border-radius-10">Detalle</button>
    </section>
  </section>
  <section class="profile">
    <img class="altura-img ancho-img border-radius-10" src="https://static.vecteezy.com/system/resources/previews/004/274/236/non_2x/person-icon-user-interface-icon-silhouette-of-man-simple-symbol-a-glyph-symbol-in-your-web-site-design-logo-app-ui-webinar-video-chat-vector.jpg" alt="foto">
    <h2 class="profile-card_title">Jorge Avella</h2>
    <p class="profile-card_description">20 años</p>
    <p class="profile-card_description">Ingeniero</p>
   <section class="center-vertical border-radius-10">
      <button class="button button-green border-radius-10">Seleccionar</button>
      <button class="button azul texto-blanco border-radius-10">Detalle</button>
    </section>
  </section>
  <section class="profile">
    <img class="altura-img ancho-img border-radius-10" src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1705/tuktukdesign170500009/77461800-icono-de-usuario-de-mujer-perfil-de-persona-de-vector-avatar-glyph-pictograma-de-ilustraci%C3%B3n-de.jpg" alt="foto">
    <h2 class="profile-card_title">Lina Otalora</h2>
    <p class="profile-card_description">15 años</p>
    <p class="profile-card_description">Directora de redes</p>
   <section class="center-vertical border-radius-10">
      <button class="button button-green border-radius-10">Seleccionar</button>
      <button class="button azul texto-blanco border-radius-10">Detalle</button>
    </section>
  </section>
</section>
