$color-botones: green;
$color-card: white;

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile{
  width: 300px;
  border: 1px solid black;
  @extend .margin-10, .border-radius-10, .padding
}


.profile-card_title{
  font-size: 24px;
  color: black;
}

.profile-card_description{
  font-size: 20px;
  color: #000;
}

.button{
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

.button-green{
 background-color: $color-botones;
 color: $color-card;
}

.azul{
  background-color: blue;
}

.texto-blanco{
  color: $color-card;
}

.center-vertical{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.border-radius-10{
  border-radius: 10px;
}

.margin-10{
  margin: 10px;
}

.padding{
  padding: 1rem;
}

.altura-img{
  height: 300px;
}

.ancho-img{
  width: 300px;
}

.button-green:active{
  background-color: greenyellow;
  color: black;
}
