<section class="center">
  <section class="profile">
    <img class="altura-img ancho-img border-radius-10" src="https://static.vecteezy.com/system/resources/previews/004/274/236/non_2x/person-icon-user-interface-icon-silhouette-of-man-simple-symbol-a-glyph-symbol-in-your-web-site-design-logo-app-ui-webinar-video-chat-vector.jpg" alt="foto">
    <h2 class="profile-card_title">Julián Rodriguez</h2>
    <p class="profile-card_description">30 años</p>
    <p class="profile-card_description">Estreamer</p>
    <p class="profile-card_description">Correo: julian@uniboyaca.co</p>
    <p class="profile-card_description">Telefono: 312 546 2384</p>
    <p class="profile-card_description">Reside en Twitch</p>
   <section class="center-vertical border-radius-10">
      <button class="button amarillo texto-negro border-radius-10" href="/app/jul/jul.component.html">Volver</button>
    </section>
  </section>
</section>

<router-outlet></router-outlet>
